@model Plenamente.Models.ExpandedUserDTO
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Crear un nueva persona</p>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="centrarContenido">

    <h2 class="colorVerdeBack1">Información Básica Del Trabajador </h2>
    <div class="plegable">
        <br />
        <br />
        Empresa:
        <br />
        <br />
        @Html.DropDownListFor(model => model.Empr_Nit, new SelectList(Model.Empresa, "Empr_Nit", "Empr_Nom", "Tipo de documento"), new { @class = "estilosSelect" })
        <br />
        <br />
        <br />
        <br />
        Nombres:
        <br />
        <br />
        @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "" } })
        <br />
        <br />
        Apellidos:
        <br />
        <br />
        @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "" } })
        <br />
        <br />
        Tipo de documento:
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.DropDownListFor(model => model.Tdoc_Id, new SelectList(Model.tipoDocumento, "Tdoc_Id", "Tdoc_Nom", "Tipo de documento"), new { @class = "estilosSelect" })
        @Html.ValidationMessageFor(model => model.Tdoc_Id, "", new { @class = "text-danger" })
        <br />
        <br />
        Documento:
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "estilosSelect" } })
        @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
        <br />
        <br />
        Genero:
        <br />
        <br />
        @Html.DropDownListFor(model => model.Gene_Id, new SelectList(Model.genero, "Gene_Id", "Gene_Nom", "Genero"), new { @class = "estilosSelect" })
        <br />
        <br />
        Email:
        <br />
        <br />
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "" } })
        <br />
        <br />
        Contraseña:
        <br />
        <br />
        @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "" } })
        <br />
        <br />
        Tipo De Usuario:
        <br />
        <br />
        @Html.DropDownList("Roles", null, htmlAttributes: new { @class = "estilosSelect" })
        <br />
        <br />
        @*Estado Del Trabajador:
            <br />
            <br />
            @Html.DropDownListFor(model => model.Espe_Id, new SelectList(Model.estadoPersona, "Espe_Id", "Espe_Nom", "Estado persona"))
            <br />
            <br />*@
    </div>
    <br />
    <br />
    <h2 class="colorVerdeBack1">Información Personal Del Trabajador</h2>
    <div class="plegable">
        <br />
        <br />
        Licencia De Conducción N°:
        <br />
        <br />
        @Html.EditorFor(model => model.Pers_Licencia, new { htmlAttributes = new { @class = "estilosSelect" } })
        <br />
        <br />
        Fecha De Vencimiento:
        <br />
        <br />
        @Html.EditorFor(model => model.Pers_LicVence, new { htmlAttributes = new { @class = "estilosSelect" } })
        <br />
        <br />
        Categoria De La Licencia:
        <br />
        <br />
        @Html.DropDownListFor(model => model.Cate_Id, new SelectList(Model.cateLicencia, "Cate_Id", "Cate_Nom", "Categoría de la licencia"), new { @class = "estilosSelect" })
        <br />
        <br />
        Dirección De Residencia:
        <br />
        <br />
        @Html.EditorFor(model => model.Pers_Direccion, new { htmlAttributes = new { @class = "" } })
        <br />
        <br />
        Contacto De Emergencia:
        <br />
        <br />
        @Html.EditorFor(model => model.Pers_ContactoEmeg, new { htmlAttributes = new { @class = "" } })
        <br />
        <br />
        Número De Emergencia:
        <br />
        <br />
        @Html.EditorFor(model => model.Pers_TelefonoEmeg, new { htmlAttributes = new { @class = "estilosSelect" } })
        <br />
        <br />
    </div>
    <br />
    <br />
    <h2 class="colorVerdeBack1">Asociaciones Del Trabajador</h2>
    <div class="plegable">
        <br />
        <br />
        Administrador De Pensiones:
        <br />
        <br />
        @Html.DropDownListFor(model => model.Afp_Id, new SelectList(Model.afp, "Afp_Id", "Afp_Nom", "AFP"), new { @class = "estilosSelect" })
        <br />
        <br />
        Entidad Promotora De Salud:
        <br />
        <br />
        @Html.DropDownListFor(model => model.Eps_Id, new SelectList(Model.eps, "Eps_Id", "Eps_Nom", "EPS"), new { @class = "estilosSelect" })
        <br />
        <br />
        Aseguradora De Riesgos Laborales:
        <br />
        <br />
        @Html.DropDownListFor(model => model.Arl_Id, new SelectList(Model.arl, "Arl_Id", "Arl_Nom", "ARL"), new { @class = "estilosSelect" })
        <br />
        <br />
        Tipo Vinculación:
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.DropDownListFor(model => model.Tvin_Id, new SelectList(Model.tipoVinculacion, "Tvin_Id", "Tvin_Nom", "Tipo de contrato"), new { @class = "estilosSelect" })
        @Html.ValidationMessageFor(model => model.Tvin_Id, "", new { @class = "text-danger" })
        <br />
        <br />
        Cargo:
        <br />
        <br />
        @Html.EditorFor(model => model.Pers_Cargo, new { htmlAttributes = new { @class = "estilosSelect" } })
        <br />
        <br />
    </div>
    <br />
    <br />
    @*<h2 class="colorVerdeBack1">Asociaciones De La Empresa</h2>
        <div class="plegable">*@
    @*<br />
        <br />
        Ciudad:
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.DropDownListFor(model => model.Ciud_Id, (SelectList)ViewBag.Ciud_Id as SelectList, "Ciudad", htmlAttributes: new { @class = "estilosSelect" })
        @Html.ValidationMessageFor(model => model.Ciud_Id, "", new { @class = "text-danger" })
        <br />
        <br />*@
    @*
        Area:
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.DropDownListFor(model => model.Aemp_Id, new SelectList(Model.areaEmpresa, "Aemp_Id", "Aemp_Nom", "Dependencia/Area"))
        @Html.ValidationMessageFor(model => model.Aemp_Id, "", new { @class = "text-danger" })
        <br />
        <br />
        Cargo:
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.DropDownListFor(model => model.Cemp_Id, new SelectList(Model.cargoEmpresa, "Cemp_Id", "Cemp_Nom", "Cargo que desempeña"))
        @Html.ValidationMessageFor(model => model.Cemp_Id, "", new { @class = "text-danger" })
        <br />
        <br />*@
    @*Jornada Laboral:
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.DropDownListFor(model => model.Jemp_Id, new SelectList(Model.jornadaEmpresa, "Jemp_Id", "Jemp_Nom", "Jornada de trabajo"))
        @Html.ValidationMessageFor(model => model.Jemp_Id, "", new { @class = "text-danger" })
        <br />
        <br />*@
    @*Tipo Vinculación:
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.DropDownListFor(model => model.Tvin_Id, new SelectList(Model.tipoVinculacion, "Tvin_Id", "Tvin_Nom", "Tipo de contrato"))
        @Html.ValidationMessageFor(model => model.Tvin_Id, "", new { @class = "text-danger" })
        <br />
        <br />*@
    @*Jefe:
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.DropDownListFor(model => model.Jefe_Id, new SelectList(Model.jefe, "jefe_Id", "Pers_Nom1", "jefe Actual"))
        @Html.ValidationMessageFor(model => model.Jefe_Id, "", new { @class = "text-danger" })
        <br />
        <br />*@
    @*</div>*@
    Sede:
    <br />
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.DropDownListFor(model => model.Sciu_Id, new SelectList(Model.sedeCiudad, "Sciu_Id", "Sciu_Nom", "Sede de trabajo"))
    @Html.ValidationMessageFor(model => model.Sciu_Id, "", new { @class = "text-danger" })
    <br />
    <br />
    <br />
    <br />
    <input type="submit" value="Guardar" class="btn btn-default" />
</div>

<div class="contenidoVolver">
    <a href="@Url.Action("Users", "Admin")" class="ayudaTitulos"><span>Volver a la lista</span> <img src="~/Imagenes/flecha-hacia-la-izquierda.png" /><p></p></a>
</div>
    }