@model Plenamente.Models.ActiCumplimiento

@{
    ViewBag.Title = "Plan de Trabajo";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Esta seguro de eliminar este Plan de trabajo?</p>
</div>

<br/>
<br/>
<br/>
<div>
    
    <div class="container" style=" border:1px solid;border-color: #A59D9B; padding:10px 10px 10px 10px;">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser.Pers_Nom1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.Pers_Nom1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Empresa.Empr_Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Empresa.Empr_Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Frecuencia.Frec_Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Frecuencia.Frec_Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ObjEmpresa.Oemp_Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ObjEmpresa.Oemp_Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Periodo.Peri_Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Periodo.Peri_Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Acum_Desc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Acum_Desc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Acum_Porcentest)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Acum_Porcentest)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Acum_Ejec)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Acum_Ejec)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Acum_Registro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Acum_Registro)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Acum_IniAct)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Acum_IniAct)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Acum_FinAct)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Acum_FinAct)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>
