@model Plenamente.Models.EleProteccion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EleProteccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Epro_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Epro_Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Epro_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Epro_Registro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Epro_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
