@model Plenamente.Models.Encuesta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Encuesta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa.Empr_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Empr_Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encu_Creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encu_Creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encu_Vence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encu_Vence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encu_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encu_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encu_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encu_Registro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Encu_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
