@model Plenamente.Models.Encuesta

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Editar encuesta</p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="centrarContenido">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Encu_Id)

        <div class="form-group">
            <label asp-for="CargoRegistro" class="col-md-4 control-label" hidden>  @Html.EditorFor(model => model.Encu_Creacion, new { htmlAttributes = new { @class = "form-control" } })</label>
        </div>

        <p>Fecha de vencimiento:</p>
        <br />
        @Html.EditorFor(model => model.Encu_Vence, new { htmlAttributes = new { @class = "estilosSelect " } })


        <p>Estado de la encuesta:</p>
        <br />
        @Html.EditorFor(model => model.Encu_Estado)


        <div class="form-group">

            <label asp-for="CargoRegistro" class="col-md-4 control-label" hidden> @Html.EditorFor(model => model.Encu_Registro, new { htmlAttributes = new { @class = "form-control" } })</label>

        </div>

        <div class="form-group">
            <label asp-for="CargoRegistro" class="col-md-4 control-label" hidden> @Html.DropDownList("Empr_Nit", null, htmlAttributes: new { @class = "form-control" })</label>
        </div>

        <input type="submit" value="Actualizar" class="btn btn-default" />  
    </div>
}

<div class="contenidoVolver">
    <a href="@Url.Action("Index", "Encuestas")" class="ayudaTitulos"><span>Volver a la lista</span> <img src="~/Imagenes/flecha-hacia-la-izquierda.png" /><p></p></a>
</div>