@model Plenamente.Models.Evidencia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Evidencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Pers_Nom1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Pers_Nom1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cumplimiento.Cump_Observ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cumplimiento.Cump_Observ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDocCarga.Tdca_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocCarga.Tdca_Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evid_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evid_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evid_Archivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evid_Archivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evid_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evid_Registro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Evid_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
