@model Plenamente.Models.ZonaEmpresa

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

    <div class="colorVerdeBack">
        <p>Editar Zona</p>
    </div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="centrarContenido">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Zemp_Id)

    <div class="form-group">
        <div class="col-md-10">
            Nombre Zona
            @Html.EditorFor(model => model.Zemp_Nom, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.Zemp_Nom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label asp-for="CargoRegistro" class="col-md-4 control-label" hidden>  @Html.DropDownList("Empr_Nit", null, htmlAttributes: new { @class = "form-control" })</label>
        </div>
    </div>

    <div class="form-group">
        @*Campo de Registro oculto*@
        <label asp-for="ReglahigieneRegistro" class="col-md-4 control-label" hidden>@Html.DisplayFor(Model => Model.Zemp_Registro)  </label>
    </div>

   
            <input type="submit" value="Guardar" class="btn btn-default" />

</div>
}

<div class="contenidoVolver">
    <a href="@Url.Action("Index", "zonaEmpresas")" class="ayudaTitulos"><span>Volver a la lista</span> <img src="~/Imagenes/flecha-hacia-la-izquierda.png" /><p></p></a>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
