@model Plenamente.Models.ProcesActividad

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Eliminar cargo</p>
</div>
<div class="centrarContenido">
    <hr />

    <dd>
        Nombre: @Html.DisplayFor(model => model.Pact_Nombre)
    </dd>
    <br />

    <dt>
        Fecha: @Html.DisplayFor(model => model.Pact_Registro)
    </dt>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <br />
            <br>
            <input type="submit" value="Borrar" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
<div class="contenidoVolver">
    <a href="@Url.Action("Index", "ProcesActividads")" class="ayudaTitulos"><span>Volver a la lista</span> <img src="~/Imagenes/flecha-hacia-la-izquierda.png" /><p></p></a>
</div>

