@model Plenamente.Models.Politica

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Editar politicas de la empresa </p>
</div>

<div class="centrarContenido">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Política</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Poli_Id)

        <div class="form-group">
            Nombre de la Política
            <div class="col-md-10">
                @Html.EditorFor(model => model.Poli_Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Poli_Nom, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            Subir Nuevo Archivo
            <div class="col-md-10">
                @Html.TextBoxFor(Model => Model.Poli_Archivo, new { @class = "form-control", @type = "file" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label asp-for="PoliRegistro" class="col-md-4 control-label" hidden>  @Html.DropDownList("Empr_Nit", null, htmlAttributes: new { @class = "form-control" })</label>
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-10">
                <label asp-for="CargoRegistro" class="col-md-4 control-label" hidden>  @Html.DropDownList("Empr_Nit", null, htmlAttributes: new { @class = "form-control" })</label>
            </div>
        </div>*@


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

</div>
<div class="contenidoVolver">
    <a href="@Url.Action("Index", "Politicas")" class="ayudaTitulos"><span>Volver a la lista</span> <img src="~/Imagenes/flecha-hacia-la-izquierda.png" /><p></p></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}