@model PagedList.IPagedList<Plenamente.Models.Politica>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Politicas de la Empresa </p>
</div>

<div class="contenedorBotones">
    <form asp-action="Index" method="get">
        <input type="text" id="buscarDato" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Buscar" class="btn btn-success tamañoBoton" />
        <a href="@Url.Action("Index", "Politicas")" class="ayudaTitulos"><span>Ver todos</span><img src="~/Imagenes/binoculares.png" /><p>Ver</p></a>
        <a href="@Url.Action("Create", "Politicas")" class="ayudaTitulos"><span>Crear politica individual</span><img src="~/Imagenes/archivo.png" /><p>Crear</p></a>
    </form>
</div>

<table id="tablaVista" class="tablaVista">
    <thead class="cabeceraTabla">
        <tr>
            <th class="colorVerde">
                Política
            </th>

            <th class="colorVerde">
                Archivos de la empresa
            </th>
            <th class="colorVerde">
                Fecha de Actualización
            </th>
            <th class="colorVerde">
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Poli_Nom)
                </td>
                <td>
                    <p> <a href="~/Files/@Html.DisplayFor(modelItem => item.Poli_Archivo)" download="~/Files/@Html.DisplayFor(modelItem => item.Poli_Archivo)" target="_blank"> Descargar Política </a></p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poli_Registro)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Poli_Id }) |
                  
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Poli_Id })
                </td>
            </tr>
        }
        </tbody>
</table>
<div class="paginacionLista">
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

