@model Plenamente.Models.ItemEstandarAfp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemEstandarAfp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstandarAfp.Esta_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstandarAfp.Esta_Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iest_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iest_Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iest_Verificar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iest_Verificar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iest_Porcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iest_Porcentaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaExcepcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaExcepcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iest_Peri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iest_Peri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iest_Observa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iest_Observa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iest_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iest_Registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iest_Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iest_Video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iest_Recurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iest_Recurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iest_Rescursob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iest_Rescursob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iest_Rescursoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iest_Rescursoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iest_Rescursod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iest_Rescursod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iest_Rescursoe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iest_Rescursoe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iest_Rescursof)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iest_Rescursof)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iest_MasInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iest_MasInfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Iest_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
