@model Plenamente.Models.ViewModel.ViewModelActividadCumplimiento


@{
    var fechafinal = Convert.ToDateTime(ViewBag.dateend);
    var fechainicial = Convert.ToDateTime(ViewBag.datestart);
    Model.FechaInicial = fechainicial;
    Model.FechaFinal = fechafinal;
}

<div class="colorVerdeBack">
    <p>
        Crear actividades
        <a href="#" class="ayudaTitulos"><span>Aquí podras crear actividades y asiganarlas a un usuario previamente creado</span> <img src="../Imagenes/informacion.png" style="max-height:18px; max-width:18px;" /></a>

    </p>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="contenidoCuerpo">
        <input type="hidden" value="@ViewBag.ReturnUrl" id="retornar" name="retornar" />
        <input type="hidden" value="@ViewBag.idptrab" id="retornar" name="retornar" />

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NombreActividad, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.NombreActividad, new { htmlAttributes = new { @class = " text-box single-line" } })
                <a href="#" class="ayudaTitulos"><span style="width: 180px;">Aquí deberá asignarle un nombre a la actividad que desea crear. </span> <img src="../Imagenes/informacionfndo.png" style="max-height:18px; max-width:18px;" /></a>
                @Html.ValidationMessageFor(model => model.NombreActividad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Meta, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Meta, new { htmlAttributes = new { @class = " text-box single-line" } })
                <a href="#" class="ayudaTitulos"><span style="width: 180px;">Aquí asignará el porcentaje que espera cumplir con la actividad. </span> <img src="../Imagenes/informacionfndo.png" style="max-height:18px; max-width:18px;" /></a>
                @Html.ValidationMessageFor(model => model.Meta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idObjetivo, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">

                @Html.DropDownListFor(x => x.idObjetivo, (SelectList)ViewBag.objetivosEmpresa, new { @class = "estilosSelect" })
                <a href="#" class="ayudaTitulos"><span style="width: 180px;">Aquí seleccionará el objetivo al que corresponde la actividad. </span> <img src="../Imagenes/informacionfndo.png" style="max-height:18px; max-width:18px;" /></a>
                @Html.ValidationMessageFor(model => model.idObjetivo, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.IdUser, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-12">

                @Html.DropDownListFor(x => x.IdUser, (SelectList)ViewBag.users, new { @class = "estilosSelect" })
                <a href="#" class="ayudaTitulos"><span style="width: 180px;">Aquí deberá asignar un responsable a la actividad, que debe ser creado previamente en "Información de sus trabajadores". </span> <img src="../Imagenes/informacionfndo.png" style="max-height:18px; max-width:18px;" /></a>
                @Html.ValidationMessageFor(model => model.IdUser, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FechaInicial, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FechaInicial, new { htmlAttributes = new { @class = "estilosSelect text-box single-line", @Value = Model.FechaInicial.ToString("yyyy-MM-dd"), @type = "date", @min = Model.FechaInicial.ToString("yyyy-MM-dd"), @max = Model.FechaFinal.ToString("yyyy-MM-dd") } })
                <a href="#" class="ayudaTitulos"><span style="width: 180px;">Aquí asignará la fecha de programación de la actividad. </span> <img src="../Imagenes/informacionfndo.png" style="max-height:18px; max-width:18px;" /></a>
                @Html.ValidationMessageFor(model => model.FechaInicial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none;">
            @Html.LabelFor(model => model.FechaFinal, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FechaFinal, new { htmlAttributes = new { @class = "estilosSelect text-box single-line", @Value = Model.FechaFinal.ToString("yyyy-MM-dd"), @type = "date", @min = Model.FechaInicial.ToString("yyyy-MM-dd"), @max = Model.FechaFinal.ToString("yyyy-MM-dd") } })

                @Html.ValidationMessageFor(model => model.FechaFinal, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.asigrecursos, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.asigrecursos, new { htmlAttributes = new { @class = "text-box single-line" } })
                <a href="#" class="ayudaTitulos"><span style="width: 180px;">Aquí deberá asignar los recursos que aplican a la actividad (ej. físicos, económicos, etc.). </span> <img src="../Imagenes/informacionfndo.png" style="max-height:18px; max-width:18px;" /></a>
                @Html.ValidationMessageFor(model => model.asigrecursos, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="display:none;">
            @Html.LabelFor(model => model.hora, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.hora, new { htmlAttributes = new { @class = "form-control", @type = "time" } })

                @Html.ValidationMessageFor(model => model.hora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Frecuencia, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @*@Html.EditorFor(model => model.Frecuencia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Frecuencia, "", new { @class = "text-danger" })*@


                <!-- Recurrence section -->
                <script type="text/javascript" src="@Url.Content(" ~/Scripts/DayPilot/recurrence.js?v=3")"></script>

                <select class="browser-default custom-select control-label " id="Frecuencia_desc" name="Frecuencia_desc" onchange="ShowSelected();">
                    <option value="norepeat">No repetir</option>
                    <option value="daily">Diaria</option>
                    <option value="weekly">Semanal</option>
                    <option value="monthly">Mensual</option>
                    <option value="bimestral">Bimestral</option>
                    <option value="trimestral">Trimestral</option>
                    <option value="semestral">Semestral</option>
                </select>
            </div>


        </div>
        <div class="form-group">
            <div class="show" id="select_norepeat">
                No repetir
            </div>
        </div>

        <div id="select_daily" style="display:none; position: relative" class="label label-default">
            Repetir cada <input id="daily_every" style="width: 50px;color: black;" value="1" onchange="changeday();" /> dia(s).
        </div>

        <div id="select_weekly" style="display:none;" class="label-show">
            Repetir cada <input type="hidden" id="weekly_every" style="width: 20px; margin-top: 4px; " value="1" onchange="changeweek();" /> semana.
            <div id="select_weekly_error" style="display:none; margin-top: 15px; padding: 2px; background-color: #FFF1A8;">Please select at least one day:</div>
            <br />
            <table>
                <tr>
                    <td>Los dias: </td>
                    <td><label for="weekly_0" class="showcb"><input type="checkbox" id="weekly_0" name="weekly_0" />Lunes </label></td>
                    <td><label for="weekly_1" class="showcb"><input type="checkbox" id="weekly_1" name="weekly_1" />Martes </label></td>
                    <td><label for="weekly_2" class="showcb"><input type="checkbox" id="weekly_2" name="weekly_2" />Miercoles </label></td>
                    <td><label for="weekly_3" class="showcb"><input type="checkbox" id="weekly_3" name="weekly_3" />Jueves </label></td>
                    <td><label for="weekly_4" class="showcb"><input type="checkbox" id="weekly_4" name="weekly_4" />Viernes </label></td>
                    <td><label for="weekly_5" class="showcb"><input type="checkbox" id="weekly_5" name="weekly_5" />Sabado </label></td>
                    <td><label for="weekly_6" class="showcb"><input type="checkbox" id="weekly_6" name="weekly_6" />Domingo </label></td>
                </tr>
            </table>
        </div>

        <div id="select_monthly" style="display:none;" class="label label-default">
            Repetir los dias <input id="monthly_every" style="width: 50px;color: black;" value="1" onchange="changemonth();" /> de cada mes.
            <div id="select_monthly_error" style="display:none; margin-top: 5px; padding: 2px; background-color: #FFF1A8;">Please select at least one day:</div>
            <br />
        </div>
        <div id="select_mestre" style="display:none;" class="label label-default">
            Repetir los dias <input id="mestre_every" style="width: 50px;color: black;" value="1" onchange="changemestre();" /> del mes.
            <div id="select_mestre" style="display:none; margin-top: 5px; padding: 2px; background-color: #FFF1A8;">POr favor selecciones un dia</div>
            <br />
        </div>
        <input id="period" name="period" type="hidden" value="" />
        <input id="Frecuencia" name="Frecuencia" type="hidden" value="1" />




        <div class="form-group">
            <div class="col-md-6">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="col-md-12">
    <a href="@Url.Action("IndexM", "Plandetrabajo" )" class="ayudaTitulos">
        <span>Volver al inicio</span> <img style="width: 5%;" src="~/Imagenes/flecha-hacia-la-izquierda.png" />
    </a>
</div>

<script type="text/javascript">

    function ShowSelected() {
        var cod = document.getElementById("Frecuencia_desc").value;
        var period = document.getElementById("period");
        var daily_every = document.getElementById("daily_every").value;
        var weekly_every = document.getElementById("weekly_every").value;
        var monthly_every = document.getElementById("monthly_every").value;
        var mestre_every = document.getElementById("mestre_every").value;
        var dayly = document.getElementById("select_daily");
        var weekly = document.getElementById("select_weekly");
        var monthly = document.getElementById("select_monthly");
        var smestre = document.getElementById("select_mestre");
        var norepeat = document.getElementById("select_norepeat");
        var frecuencia = document.getElementById("Frecuencia");

        if (cod == "daily") {
            dayly.style.display = "";
            norepeat.style.display = "none";
            weekly.style.display = "none";
            monthly.style.display = "none";
            smestre.style.display = "none";
            period.value = daily_every;
            frecuencia.value = 2;

        } else if (cod == "weekly") {
            dayly.style.display = "none";
            norepeat.style.display = "none";
            weekly.style.display = "";
            monthly.style.display = "none";
            smestre.style.display = "none";
            period.value = weekly_every;
            frecuencia.value = 3;
        } else if (cod == "monthly") {
            dayly.style.display = "none";
            norepeat.style.display = "none";
            weekly.style.display = "none";
            monthly.style.display = "";
            smestre.style.display = "none";
            period.value = monthly_every;
            frecuencia.value = 4;
        } else if (cod == "bimestral") {
            dayly.style.display = "none";
            norepeat.style.display = "none";
            weekly.style.display = "none";
            monthly.style.display = "none";
            smestre.style.display = "";
            period.value = mestre_every;
            frecuencia.value = 8;
        } else if (cod == "trimestral") {
            dayly.style.display = "none";
            norepeat.style.display = "none";
            weekly.style.display = "none";
            monthly.style.display = "none";
            smestre.style.display = "";
            period.value = mestre_every;
            frecuencia.value = 9;
        } else if (cod == "semestral") {
            dayly.style.display = "none";
            norepeat.style.display = "none";
            weekly.style.display = "none";
            monthly.style.display = "none";
            smestre.style.display = "";
            period.value = mestre_every;
            frecuencia.value = 10;
        }
        else {
            dayly.style.display = "none";
            norepeat.style.display = "";
            weekly.style.display = "none";
            monthly.style.display = "none";
            smestre.style.display = "none";
            period.value = 0;
            frecuencia.value = 1;
        }

    }
    function changeday() {
        var daily_every = document.getElementById("daily_every").value;
        var period = document.getElementById("period");
        period.value = daily_every;

    }
    function changeweek() {

        var day = document.getElementById("day").value;
        var weekly1 = document.getElementById("weekly1");
        var weekly2 = document.getElementById("weekly2");
        var weekly3 = document.getElementById("weekly3");
        var weekly4 = document.getElementById("weekly4");
        var weekly5 = document.getElementById("weekly5");
        var weekly6 = document.getElementById("weekly6");
        var weekly_0 = document.getElementById("weekly_0");
        var weekly_1 = document.getElementById("weekly_1").value;
        var weekly_2 = document.getElementById("weekly_2").value;
        var weekly_3 = document.getElementById("weekly_3").value;
        var weekly_4 = document.getElementById("weekly_4").value;
        var weekly_5 = document.getElementById("weekly_5").value;
        var weekly_6 = document.getElementById("weekly_6").value;
        var period = document.getElementById("period");
        var weekly_every = document.getElementById("weekly_every").value;
        day = weekly_every;
        console.log(day);
        console.log(weekly_every);
        period.value = weekly_every;

        if (weekly_0.checked == true) {
            day0 = weekly_every;
        }
        weekly1 = weekly_1;
        weekly2 = weekly_2;
        weekly3 = weekly_3;
        weekly4 = weekly_4;
        weekly5 = weekly_5;
        weekly6 = weekly_6;

    }
    function changemonth() {
        var period = document.getElementById("period");
        var monthly_every = document.getElementById("monthly_every").value;
        period.value = monthly_every;

    }
    function changemestre() {
        var period = document.getElementById("period");
        var mestre_every = document.getElementById("mestre_every").value;
        period.value = mestre_every;

    }
</script>
