@model Plenamente.Models.ActiCumplimiento

@{
    ViewBag.Title = "Detalle de la actividad";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Detalle de la actividad</p>
</div>

<div>

    <div class="col-md-12" style="margin-top: 3%;">

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayNameFor(model => model.Acum_Desc)
        </div>

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayFor(model => model.Acum_Desc)
        </div>
        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayNameFor(model => model.Acum_Porcentest)
        </div>

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayFor(model => model.Acum_Porcentest)
        </div>
        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayNameFor(model => model.Acum_Registro)
        </div>

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayFor(model => model.Acum_Registro)
        </div>

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            Fecha Programación
        </div>

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @ViewData["fprog"]
        </div>

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            Fecha Ejecución
        </div>

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @ViewData["fejec"]
        </div>
        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayNameFor(model => model.asigrecursos)
        </div>

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayFor(model => model.asigrecursos)
        </div>

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayNameFor(model => model.Finalizada)
        </div>
        @if ((ViewData["statetask"] != null))
        {
        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            <input class="check-box" disabled="disabled" type="checkbox" checked>
        </div>
        }
        else
        {
        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            <input class="check-box" disabled="disabled" type="checkbox" >
        </div>
        }
        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayNameFor(model => model.Oemp_Id)
        </div>

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @ViewData["obj_name"]
        </div>
        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayNameFor(model => model.Frec_Id)
        </div>

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @ViewData["frec_name"]
        </div>
        @if (Model.Frec_Id == 2 || Model.Frec_Id == 4)
    {
        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayNameFor(model => model.Repeticiones)
        </div>

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayFor(model => model.Repeticiones)
        </div>
}
        @if (Model.Frec_Id == 3)
    {
        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayNameFor(model => model.DiasSemana)
        </div>

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayFor(model => model.DiasSemana)
        </div>
}
        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @Html.DisplayNameFor(model => model.Id)
        </div>

        <div class="col-md-6 " style="padding: 10px;background: white;border: 1px gray solid;">
            @ViewData["username"]
        </div>






        </dl>
    </div>
    <p>
        <div class="col-md-6" style="margin-top: 3%;">
            <a href="@Url.Action("Index", "ActividadCumplimiento" )" class="ayudaTitulos">
                <span>Volver al inicio</span> <img style="width:10%;" src="~/Imagenes/flecha-hacia-la-izquierda.png" />
            </a>
        </div>
        <div class="col-md-6" style="margin-top: 3%;">
            <a class="btn btn-info" href="@Url.Action("Edit", "ActividadCumplimiento" , new { id=Model.Acum_Id })" title="Editar">
                Gestionar
            </a>
            @if ((ViewData["idpt"] != null) && (ViewData["statetask"] == null))
            {
            <a class="btn btn-info" href="@Url.Action("Updatetask", "ActividadCumplimiento", new { id = ViewData["idpt"] })" title="Finalizar">
                Finalizar
            </a>
            }
        </div>
           
    </p>
