@model Plenamente.Models.ViewModel.Rhigiene
@{
    ViewBag.Title = "ArchiRH";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Agregar nuevo reglamento de higiene </p>
</div>

@using (Html.BeginForm("SaveRecord", "Politicas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="centrarContenido">
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                Reglamento de higiene
                @Html.EditorFor(model => model.Rhig_Nom, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                Subir Archivo
                @Html.TextBoxFor(Model => Model.Rhig_Archivo, new { @class = "form-control", @type = "file" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(Model => Model.Empr_Nit, ViewBag.EmpreList as SelectList, "SeleccioneEmpresa", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @*Campo de Registro oculto*@
            <label asp-for="CargoRegistro" class="col-md-4 control-label" hidden>@Html.DisplayFor(Model => Model.Rhig_Registro)  </label>
        </div>
        <input type="submit" value="Create" class="btn btn-default" />

    </div>
}
<div class="contenidoVolver">
    <a href="@Url.Action("Index", "ReglaHigienes", null)" class="ayudaTitulos"><span>Volver a la lista</span> <img src="~/Imagenes/flecha-hacia-la-izquierda.png" /><p></p></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
