@model Plenamente.Models.ReglaInterno

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p>Eliminar regla</p>
</div>

<div class="centrarContenido">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Archivo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rint_Archivo)
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rint_Registro)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Borrar" class="btn btn-default" /> |

    @Html.ActionLink("Back to List", "Index")
</div>
    }
</div>
<div class="contenidoVolver">
    <a href="@Url.Action("Index", "ReglaHigienes")" class="ayudaTitulos"><span>Volver a la lista</span> <img src="~/Imagenes/flecha-hacia-la-izquierda.png" /><p></p></a>
</div>

