@model PagedList.IPagedList<Plenamente.Models.ObjEmpresa>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<div class="colorVerdeBack">
    <p>Objetivo de la empresa</p>
</div>
<div class="contenedorBotones">
    <form asp-action="Index" method="get">
        <input type="text" id="buscarDato" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Buscar" class="btn btn-success tamañoBoton" />
        @*<a href="@Url.Action("Index", "objempresas")" class="ayudaTitulos"><span>Ver todos</span><img src="~/Imagenes/binoculares.png" /><p>Ver</p></a>
            <a href="@Url.Action("Create", "objempresas")" class="ayudaTitulos"><span>Crear un nuevo objetivo </span><img src="~/Imagenes/archivo.png" /><p>Crear</p></a>*@
        <a class="btn btn-primary" href="@Url.Action("Index","objempresas")" title="Listar">Ver todos</a>
        <a class="btn btn-success" href="@Url.Action("Create","objempresas")" title="Crear">Crear objetivo</a>
    </form>
</div>


<table id="tablaVista" class="tablaVista">
    <thead class="cabeceraTabla">
        <tr>
            <th class="colorVerde">
                Nombre
            </th>
            <th class="colorVerde">
                Descripciòn
            </th>
            <th class="colorVerde">

            </th>
        </tr>
    </thead>
    <tbody class="cuerpoTabla">

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Oemp_Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oemp_Descrip)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Oemp_Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Oemp_Id })
                </td>
            </tr>
        }
    </tbody>

</table>
<div class="col-xs-9"></div><div class="col-xs-1" style="margin-top:20px;">
    <a class="btn btn-success" href="http://aprendeyavanza2.com.co/PlenamenteTra/Home/Gu%C3%ADa"title="Listar">¿Como crear objetivos?</a>
</div>

